# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint 

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_csv_file = "../output_data/Cities_Data.csv"

weather_df = pd.read_csv(weather_csv_file)

weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,gurupi,-11.7292,-49.0686,72.52,38,0,3.91,BR,1658977841
1,sinop,41.7711,34.8709,60.33,51,0,5.08,TR,1658977841
2,funtua,11.5233,7.3081,70.47,90,100,9.66,NG,1658977842
3,aykhal,66.0000,111.5000,81.46,59,28,12.21,RU,1658977842
4,kiunga,-6.1219,141.2906,80.37,88,81,4.34,PG,1658977842

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# load gmaps with API key and drop na/s
gmaps.configure(api_key=g_key)

weather_df = weather_df.dropna()
locations = weather_df[["Lat", "Lng"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

#plot Heatmap with Humidity 
humidity_map = gmaps.figure()

# Add heat layer 
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                               dissipating=False, max_intensity=200,
                               point_radius = 5)
humidity_map.add_layer(heat_layer)
#Display figure
humidity_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Filter any rows that don't contain the three conditions:

# A max temperature 70<x<80
ideal_weather_df = weather_df.loc[(weather_df["Max Temp"] < 80) & (weather_df["Max Temp"] > 70)]

# Wind speed <10 mph
ideal_weather_df = weather_df.loc[weather_df["Wind Speed"] < 10]

# Zero cloudiness
ideal_weather_df = weather_df.loc[weather_df["Cloudiness"] == 0]

# Drop any rows with null values
ideal_weather_df = ideal_weather_df.dropna()

ideal_weather_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,gurupi,-11.7292,-49.0686,72.52,38,0,3.91,BR,1658977841
1,sinop,41.7711,34.8709,60.33,51,0,5.08,TR,1658977841
13,saldanha,-33.0117,17.9442,54.10,69,0,5.88,ZA,1658977845
14,bundaberg,-24.8500,152.3500,71.22,53,0,1.99,AU,1658977845
18,lata,40.1629,-8.3327,54.99,92,0,1.95,PT,1658977824
...,...,...,...,...,...,...,...,...,...
459,trapani,37.8333,12.6667,77.88,72,0,7.09,IT,1658977982
479,goderich,43.7501,-81.7165,69.91,87,0,9.06,CA,1658977991
496,zhezkazgan,47.8043,67.7144,73.38,49,0,11.18,KZ,1658977978
508,suruc,36.9761,38.4250,80.47,21,0,6.49,TR,1658978000
510,ahuimanu,21.4447,-157.8378,83.91,65,0,14.97,US,1658978001

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_weather_df[["City", "Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df

           City Country      Lat       Lng Hotel Name
0        gurupi      BR -11.7292  -49.0686
1         sinop      TR  41.7711   34.8709
13     saldanha      ZA -33.0117   17.9442
14    bundaberg      AU -24.8500  152.3500
18         lata      PT  40.1629   -8.3327
..          ...     ...      ...       ...        ...
459     trapani      IT  37.8333   12.6667
479    goderich      CA  43.7501  -81.7165
496  zhezkazgan      KZ  47.8043   67.7144
508       suruc      TR  36.9761   38.4250
510    ahuimanu      US  21.4447 -157.8378

[80 rows x 5 columns]

In [7]:
# set parameters 
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# set up the loop w/iterrow 
for index, row in hotel_df.iterrows():
    # get Lat and Lng
    lat = row["Lat"]
    lng = row["Lng"]

    # set the location with lat and lng
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # set url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    try:
        #print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing lodging info for location. Skipping...")
        pass
    
hotel_df

Retrieving Results for Index 0: gurupi.
Retrieving Results for Index 1: sinop.
Missing lodging info for location. Skipping...
Retrieving Results for Index 13: saldanha.
Retrieving Results for Index 14: bundaberg.
Retrieving Results for Index 18: lata.
Retrieving Results for Index 33: victoria.
Retrieving Results for Index 35: mackay.
Retrieving Results for Index 39: nikolskoye.
Retrieving Results for Index 54: cape town.
Retrieving Results for Index 62: adrar.
Missing lodging info for location. Skipping...
Retrieving Results for Index 67: xinzhi.
Retrieving Results for Index 75: arraial do cabo.
Retrieving Results for Index 84: hermanus.
Retrieving Results for Index 89: red wing.
Retrieving Results for Index 91: bredasdorp.
Retrieving Results for Index 101: pocone.
Retrieving Results for Index 104: hami.
Retrieving Results for Index 110: sao joao da barra.
Retrieving Results for Index 112: mayo.
Retrieving Results for Index 115: maun.
Retrieving Results for Index 128: plettenberg bay.
Retrieving Results for Index 129: cayenne.
Retrieving Results for Index 131: bethel.
Retrieving Results for Index 134: nantucket.
Retrieving Results for Index 135: khaniotis.
Retrieving Results for Index 151: ponta do sol.
Retrieving Results for Index 153: homer.
Retrieving Results for Index 159: lagoa.
Retrieving Results for Index 170: noormarkku.
Retrieving Results for Index 173: san ramon.
Retrieving Results for Index 178: warren.
Retrieving Results for Index 188: coihaique.
Retrieving Results for Index 191: yugorsk.
Retrieving Results for Index 192: bowen.
Retrieving Results for Index 200: inhapi.
Retrieving Results for Index 202: kodiak.
Retrieving Results for Index 203: severnyy.
Retrieving Results for Index 211: mizdah.
Retrieving Results for Index 215: bardiyah.
Retrieving Results for Index 238: esperance.
Retrieving Results for Index 248: hutchinson.
Retrieving Results for Index 253: manjacaze.
Retrieving Results for Index 256: horsham.
Retrieving Results for Index 257: porto velho.
Retrieving Results for Index 286: hermiston.
Retrieving Results for Index 287: laguna.
Retrieving Results for Index 290: somerset.
Retrieving Results for Index 291: jalu.
Retrieving Results for Index 317: benghazi.
Retrieving Results for Index 322: emerald.
Retrieving Results for Index 331: craig.
Retrieving Results for Index 332: tombouctou.
Missing lodging info for location. Skipping...
Retrieving Results for Index 335: aksehir.
Retrieving Results for Index 336: east wenatchee bench.
Retrieving Results for Index 337: vaasa.
Retrieving Results for Index 342: labrea.
Retrieving Results for Index 344: bage.
Retrieving Results for Index 345: karratha.
Retrieving Results for Index 346: plouzane.
Retrieving Results for Index 349: saint-pierre.
Retrieving Results for Index 350: erzin.
Retrieving Results for Index 361: dongsheng.
Retrieving Results for Index 362: abu samrah.
Missing lodging info for location. Skipping...
Retrieving Results for Index 365: westport.
Retrieving Results for Index 369: alta floresta.
Retrieving Results for Index 374: locri.
Retrieving Results for Index 378: quelimane.
Retrieving Results for Index 393: mabaruma.
Retrieving Results for Index 394: lourdes.
Retrieving Results for Index 396: korla.
Retrieving Results for Index 402: upington.
Retrieving Results for Index 410: hwange.
Retrieving Results for Index 426: sinazongwe.
Retrieving Results for Index 448: pitsunda.
Retrieving Results for Index 457: wilmington.
Retrieving Results for Index 459: trapani.
Missing lodging info for location. Skipping...
Retrieving Results for Index 479: goderich.
Retrieving Results for Index 496: zhezkazgan.
Retrieving Results for Index 508: suruc.
Retrieving Results for Index 510: ahuimanu.

           City Country      Lat       Lng            Hotel Name
0        gurupi      BR -11.7292  -49.0686       Via Norte Hotel
1         sinop      TR  41.7711   34.8709
13     saldanha      ZA -33.0117   17.9442        Blue Bay Lodge
14    bundaberg      AU -24.8500  152.3500        Takalvan Motel
18         lata      PT  40.1629   -8.3327           Casa Maquia
..          ...     ...      ...       ...                   ...
459     trapani      IT  37.8333   12.6667
479    goderich      CA  43.7501  -81.7165           Harmony Inn
496  zhezkazgan      KZ  47.8043   67.7144          Hotel Zumrat
508       suruc      TR  36.9761   38.4250  PEHLİVANKESMESİ KÖYÜ
510    ahuimanu      US  21.4447 -157.8378   Paradise Bay Resort

[80 rows x 5 columns]

In [8]:
hotel_df

           City Country      Lat       Lng            Hotel Name
0        gurupi      BR -11.7292  -49.0686       Via Norte Hotel
1         sinop      TR  41.7711   34.8709
13     saldanha      ZA -33.0117   17.9442        Blue Bay Lodge
14    bundaberg      AU -24.8500  152.3500        Takalvan Motel
18         lata      PT  40.1629   -8.3327           Casa Maquia
..          ...     ...      ...       ...                   ...
459     trapani      IT  37.8333   12.6667
479    goderich      CA  43.7501  -81.7165           Harmony Inn
496  zhezkazgan      KZ  47.8043   67.7144          Hotel Zumrat
508       suruc      TR  36.9761   38.4250  PEHLİVANKESMESİ KÖYÜ
510    ahuimanu      US  21.4447 -157.8378   Paradise Bay Resort

[80 rows x 5 columns]

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
humidity_map.add_layer(marker_layer)

humidity_map

Figure(layout=FigureLayout(height='420px'))